<h2><%= @project.name %></h2>
<ul>
  <li>
    <a href="/projects">home</a>
  </li>
  <li>
    <a href="/projects/<%= @project.id %>/time_entries">entries</a>
  </li>
</ul>
<hr>
<% if @project.description.present? %>
  <span><%= @project.description %></span>
<% end %>
